absl-py
appnope
astor
bleach
cycler
decorator
gast
graphviz
grpcio
h5py
html5lib
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
Keras
kiwisolver
Markdown
matplotlib
numpy
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pydot
pydot-ng
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
scipy
simplegeneric
six
tensorboard
termcolor
tornado
traitlets
wcwidth
Werkzeug
